<!-- footer html -->
<!DOCTYPE html>
<html lagn="ko" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="footerFragment">


	<div class="setting_layer" style='diplay:block !important;'>
		<div class="bg"></div>
		<div class="inner">
			<div class="cont_top">
				<p class="hy_logo">
					<img src="/common/images/common/logo.png" alt="at">
				</p>
				<!-- 세션 사용자명 표시 -->
				<p class="userinfo">
					<strong><span th:text="${session.MNGR_PJ_SESSION.mber_nm}"></span> (<span th:text="${session.MNGR_PJ_SESSION.mber_id}"></span>)</strong>님
				</p>
			</div>
			<div class="cont_bottom">
				<div class="unitmenu">
					<a href="#" class="logout" id='logOutBtn'><span>로그아웃</span></a>
				</div>
			</div>
			<a class="close">닫기</a>
		</div>
	</div>
	<a class="btn_setting" href="#">설정</a>
