/* ����Ʈ�޴� */

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a{margin:0;padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu>ul>li.last>a,#cssmenu>ul>li.open>a,#cssmenu>ul>li:last-child>a{border-bottom:1px solid #1682ba}
#cssmenu{width:220px;font-family:Helvetica,Arial,sans-serif;color:#fff}
#cssmenu ul ul{display:none}.align-right{float:right}
#cssmenu>ul>li>a{padding:15px 20px;;border-top:1px solid #5d616f;cursor:pointer;z-index:2;font-size:14px;font-weight:700;text-decoration:none;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,.35);background:#797d89;background:-webkit-linear-gradient(#797d89,#797d89);background:-moz-linear-gradient(#797d89,#797d89);background:-o-linear-gradient(#797d89,#797d89);background:-ms-linear-gradient(#797d89,#797d89);background:linear-gradient(#797d89,#797d89);box-shadow:inset 0 1px 0 rgba(255,255,255,.15)}
#cssmenu>ul>li.active>a,#cssmenu>ul>li.open>a,#cssmenu>ul>li>a:hover{color:#eee;background:#086fcb;background:-webkit-linear-gradient(#086fcb,#086fcb);background:-moz-linear-gradient(#086fcb,#086fcb);background:-o-linear-gradient(#086fcb,#086fcb);background:-ms-linear-gradient(#086fcb,#086fcb);background:linear-gradient(#086fcb,#086fcb)}
#cssmenu>ul>li.open>a{box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.15)}
.holder{width:0;height:0;position:absolute;top:0;right:0}
#cssmenu ul ul li.has-sub>a::after,.holder::after,.holder::before{display:block;position:absolute;content:"";right:20px}
.holder::after,.holder::before{width:6px;height:6px;z-index:10;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}.holder::after{top:17px;border-top:2px solid #fff;border-left:2px solid #fff}
#cssmenu>ul>li.active>a>span::after,#cssmenu>ul>li.open>a>span::after,#cssmenu>ul>li>a:hover>span::after{border-color:#eee}
.holder::before{top:18px;border-top:2px solid;border-left:2px solid;border-top-color:inherit;border-left-color:inherit}
#cssmenu ul ul li a{cursor:pointer;border-bottom:1px solid #6cafea;border-left:1px solid #32373e;padding:10px 20px;z-index:1;text-decoration:none;font-size:13px;color:#555;background:#f2f4f5;box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
#cssmenu ul ul li.active>a,#cssmenu ul ul li.open>a,#cssmenu ul ul li:hover>a{background:#424852;color:#fff}
#cssmenu ul ul li:first-child>a{box-shadow:none}
#cssmenu ul ul ul li:first-child>a{box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
#cssmenu ul ul ul li a{padding-left:30px}#cssmenu>ul>li>ul>li.last>a,#cssmenu>ul>li>ul>li:last-child>a{border-bottom:0}
#cssmenu>ul>li>ul>li.last.open>a,#cssmenu>ul>li>ul>li.open:last-child>a{border-bottom:1px solid #32373e}
#cssmenu>ul>li>ul>li.open:last-child>ul>li:last-child>a{border-bottom:0}
#cssmenu ul ul li.has-sub>a::after{width:5px;height:5px;z-index:10;top:11.5px;border-top:2px solid #eee;border-left:2px solid #eee;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}
#cssmenu ul ul li.active>a::after,#cssmenu ul ul li.open>a::after,#cssmenu ul ul li>a:hover::after{border-color:#fff}


#accordion-container{font-size:13px;background:#ffffff;border-radius:3px}
.accordion-header{background:#ebebeb;margin:5px 0 0 0;padding:10px 20px;border:1px solid#cccccc;cursor:pointer;color:#333;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:3px;font-size:15px;font-weight:500}
.accordion-header span {color:#086fcb ;font-weight:600; font-size: 16px !important; margin-right: 20px;}
.active-header{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;background:url(images/active-header.gif)#086fcb;background-repeat:no-repeat;background-position:right 50%;color:#ffffff}
.active-header span {color:#ffffff !important;}
.active-header:hover{background:url(images/active-header.gif)#086fcb;background-repeat:no-repeat;background-position:right 50%}
.inactive-header{background:url(images/inactive-header.gif)#ebebeb;background-repeat:no-repeat;background-position:right 50%}
.inactive-header:hover{background:url(images/inactive-header.gif)#f5f5f5;background-repeat:no-repeat;background-position:right 50%}
.accordion-content{display:none;padding:10px 20px 20px 20px;background:#ffffff;border:1px solid#cccccc;border-top:0;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.accordionDate{font-size:10px;margin-bottom:25px}
.accordionDateL{color:#cccccc;width:50%;float:left}
.accordionDateR{olor:#000000;font-size:11px;width:50%;float:right;text-align:right}

/* ���� �޴� ��� */
#ToggleHide { cursor:pointer; position: absolute; top: 76px; left:220px; z-index: 100}
#ToggleShow { cursor:pointer; position: absolute; top: 76px; left:0px; z-index: 100}


/*  ���� �ȳ� */
.join_step {position:relative;}
.join_step ul{background:#fafafa; border:1px solid #086fcb; overflow:hidden;}
.join_step ul > li{position:relative; float:left; width:20%; text-align:center;}
.join_step ul > li:last-child div{border-right:none;}
.join_step ul > li > div{display:block; position:relative; line-height:150%; color:#444; padding:12px 0; border-right:1px solid #086fcb;}
.join_step ul > li.active > div{background:#086fcb; color:#fff;}
.join_step ul > li > div .nums{display:block; font-size:13px; font-weight:normal; margin-bottom:2px; color:#555; letter-spacing:-0.5px;}
.join_step ul > li > div .state{display:block; font-size:15px; font-weight:600; letter-spacing:-1px;}
.join_step ul > li.active > div .nums{color:#fff;}

/*  ���� �ȳ� */
.join_step1 {position:relative;}
.join_step1 ul{background:#fafafa; border:1px solid #086fcb; overflow:hidden;text-align:center; font-size: 0px; }
.join_step1 ul > li{position:relative; width:20%; text-align:center; display: inline-block;}
.join_step1 ul > li:last-child div{border-right:none;}
.join_step1 ul > li > div{display:block; position:relative; color:#444; border-right:1px dotted #086fcb; margin: 26px 0}
.join_step1 ul > li.active > div{background:#086fcb; color:#fff;}
.join_step1 ul > li > div .nums{display:block; font-size:25px; font-weight:normal; margin-bottom:10px; color:#086fcb; letter-spacing:-0.5px;}
.join_step1 ul > li > div .state{ font-size:15px; font-weight:600; letter-spacing:-1px;}
.join_step1 ul > li > div .gray04{color:#b6b6b6 !important; margin: 0 auto; position: absolute; width:100%; left: 0px; font-size: 12px !important; font-weight: normal !important; text-align: center !important }
.join_step1 ul > li.active > div .nums{color:#fff;}

.join_step1_1 {position:relative;}
.join_step1_1 ul{background:#fafafa; border:1px solid #086fcb; overflow:hidden;text-align:center; font-size: 0px; }
.join_step1_1 ul > li{position:relative; width:16%; text-align:center; display: inline-block;}
.join_step1_1 ul > li:last-child div{border-right:none;}
.join_step1_1 ul > li > div{display:block; position:relative; color:#444; border-right:1px dotted #086fcb; margin: 26px 0}
.join_step1_1 ul > li.active > div{background:#086fcb; color:#fff;}
.join_step1_1 ul > li > div .nums{display:block; font-size:25px; font-weight:normal; margin-bottom:10px; color:#086fcb; letter-spacing:-0.5px;}
.join_step1_1 ul > li > div .state{ font-size:15px; font-weight:600; letter-spacing:-1px;}
.join_step1_1 ul > li > div .gray04{color:#b6b6b6 !important; margin: 0 auto; position: absolute; width:100%; left: 0px; font-size: 12px !important; font-weight: normal !important; text-align: center !important }
.join_step1_1 ul > li.active > div .nums{color:#fff;}



/* �뽬���� 6�� ���� */
.join_step2 {position:relative;}
.join_step2 ul{background:#fafafa; border:1px solid #cccccc; overflow:hidden;text-align:center; font-size: 0px; }
.join_step2 ul > li{position:relative; width:20%; text-align:center; display: inline-block;}
.join_step2 ul > li:last-child div{border-right:none;}
.join_step2 ul > li > div{display:block; position:relative; color:#666; border-right:1px dotted #cccccc; margin: 10px 0}
.join_step2 ul > li.active > div{background:#086fcb; color:#fff;}
.join_step2 ul > li > div .nums{display:block; font-size:16px; font-weight:normal; color:#086fcb; letter-spacing:-0.5px; margin-bottom: 2px;}
.join_step2 ul > li > div .state{ font-size:11px; font-weight:600; letter-spacing:-1px; line-height: 14px}
.join_step2 ul > li > div .txt{color:#b6b6b6 !important; font-size: 10px !important; font-weight: normal !important; letter-spacing: 0px;}

/* �뽬���� 6�� */
.join_step3 {position:relative;}
.join_step3 ul{background:#fafafa; border:1px solid #cccccc; overflow:hidden;text-align:center; font-size: 0px; }
.join_step3 ul > li{position:relative; width:16.666666%; text-align:center; display: inline-block;}
.join_step3 ul > li:last-child div{border-right:none;}
.join_step3 ul > li > div{display:block; position:relative; color:#666; border-right:1px dotted #cccccc; margin: 10px 0}
.join_step3 ul > li.active > div{background:#086fcb; color:#fff;}
.join_step3 ul > li > div .nums{display:block; font-size:16px; font-weight:normal; color:#086fcb; letter-spacing:-0.5px; margin-bottom: 2px;}
.join_step3 ul > li > div .state{ font-size:11px; font-weight:600; letter-spacing:-1px; line-height: 14px}
.join_step3 ul > li > div .txt{color:#b6b6b6 !important; font-size: 10px !important; font-weight: normal !important; letter-spacing: 0px;}

/* ���̾��˾� */
.setDiv{padding-top:100px;text-align:center}
.mask{position:absolute;left:0;top:0;z-index:9999;background-color:#000;display:none}
.window{display:none;width:800px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }
.window1{display:none;width:800px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }
.window2{display:none;width:800px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }
.window3{display:none;width:1200px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }
.window4{display:none;width:1200px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }
.window5{display:none;width:1200px;border-radius:8px;box-shadow:#8B8B8B;z-index:99999;padding:10px 30px }

/* ���̺� ��Ʈ */
#keywords { margin: 0 auto; font-size: 1.2em; margin-bottom: 15px;}
#keywords thead { cursor: pointer; background: #d9e6f0; }
#keywords thead tr th {  font-weight: bold; padding-left: 20px ;}
#keywords thead tr th span {   padding-right: 20px;   background-repeat: no-repeat; background-position: 100% 100%;}
#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {  background: #d9e6f0; }
#keywords thead tr th.headerSortUp span { background-image: url('../images/common/up-arrow.png'); }
#keywords thead tr th.headerSortDown span { background-image: url('../images/common/down-arrow.png'); }
#keywords tbody tr {  color: #555;}
#keywords tbody tr td { text-align: center;  padding: 15px 10px;}
#keywords tbody tr td.lalign { text-align: left;}


.sb {width:32px;height:32px; font-size:11px; text-align:center; background-repeat:no-repeat;background-position:center center;color:#333;text-decoration:none;line-height:26px;;white-space:nowrap;display:inline-block;position:relative;vertical-align:middle;margin:0 2px 0px 0;background-color:#ececec;border:1px solid #b8b8b9;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 0 rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),0 1px 0 rgba(0,0,0,.1);}
.sb:hover{ font-size: 14px !important; border: 1px solid #086fcb; font-weight: bold}
#on { font-size: 14px !important; border: 1px solid #086fcb; font-weight: bold;  color: #086fcb}
.sb.small a,a.sb.small{width:26px;height:26px;font-size:90%}
.sb.large a,a.sb.large{width:40px;height:40px;font-size:120%}
.sb.gradient a,a.sb.white{background-color:transparent!important}
.buttons{float:left;clear:both}
a.button{color:#6e6e6e;font:bold 12px Helvetica,Arial,sans-serif;text-decoration:none;padding:6px 7px;position:relative;display:inline-block;text-shadow:0 1px 0#fff;-webkit-transition:border-color.218s;-moz-transition:border.218s;-o-transition:border-color.218s;transition:border-color.218s;background:#f3f3f3;background:-webkit-gradient(linear,0%40%,0%70%,from(#F5F5F5),to(#F1F1F1));background:-moz-linear-gradient(linear,0%40%,0%70%,from(#F5F5F5),to(#F1F1F1));border:solid 1px#dcdcdc;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin: 0px;}
a.button:hover{color:#333;border-color:#086fcb !important;}
a.button:active{color:#000;border-color:#086fcb}
a.left{}
a.right{ margin-left: 1px;}
#searchBtn { width: 120px !important; text-align: center !important}


table {table-layout: fixed; word-break:break-all;}

/* ������ CSS �߰� ���� */
.fileadd { height: 28px; line-height: 28px}
.ma { margin: 0 auto !important; width: 100px; }
.attimg { margin-right: 5px;}
.attimg2 { margin-left: 10px;}
.lineH40 { line-height:40px !important}
.lineH220 { line-height:220% !important}
.h40 { height:40px;}
.h100 { height:100px !important}
.h200 { height:200px !important}
.bn { border:none !important}
.green { color:#32b16c !important}
.red { color:#ff0000 !important}
.blue { color:#086fcb !important}
.gray { color:#b6b6b6 !important}
.text2 { height:30px; line-height:30px}
.ovl100 { height:100px; width:29%; float:left; border:1px solid #cccccc; padding:10px; overflow:auto; line-height:20px; margin-right:1%;}
.ovl100 li { height:28px; }

.ovl100New { height:200px; width:90%; float:left; border:1px solid #cccccc; padding:10px; overflow:auto; line-height:20px; margin-right:1%;}
.ovl100New li { height:28px; width: 20%; float: left;}

.AdminImg  { border-radius:7px; width: 95%;  border: 1px solid #cccccc }
.Imgadd {  margin: 10px 0;  width: 50%; float: left;text-align:center; }
.NaAu { width:330px; border:1px solid #cccccc; padding:10px; height:200px; overflow:auto}
.NaAu li { height:34px }

.NaAu2 { border:1px solid #cccccc; padding:10px; height:200px; overflow:auto}
.NaAu2 li { height:34px }
.TaInTa{ height:300px; overflow:auto;}
.AddCa li { height:34px; }
.AddCa2 li { height:34px; line-height:34px;}
.BtnC { text-align:center; width:100%}
.SubNotice li { height: 30px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden; font-size: 14px }
.SubNotice li span { color:#086fcb }
.PleMore {position: absolute; top: -40px; right: 0px;}
.BB2 { color:#086fcb}
.totalp { font-size:20px}
.kor { font-size: 16px;  color: #000000}
.eng { font-size: 12px}
.Alpha { font-size: 30px; clear: both;  margin: 40px 0 10px 20px }
.Del {text-decoration: line-through;}
.DelTit { text-overflow: ellipsis;  white-space: nowrap; word-wrap: normal; overflow: hidden;  width: 80%; }
.totalp { font-size:20px}
.maLay { position: relative;}
.Bgbule {background: #eef8ff;  font-weight:bold !important; padding:10px !important;}
.LayMody{ line-height: 30px; float:left !important}

.BgGray { border:1px solid #cccccc; padding:10px; background:#eef8ff;}
.ovl100p { height:300px; width:558px ; float:left; border:1px solid #cccccc;  overflow:auto;  margin-top:10px; margin-bottom:20px;}
.ovl100p ul { }
.ovl100p li { height:34px;padding:0px 10px; line-height:34px; cursor:pointer; }
.ovl100p li.on {  background:#eef8ff; line-height:34px; cursor:pointer}

.section { margin:90px 0; background: #e1e1e1; height: 300px;}
.helplist1 {font-size: 13px}
.helplist2 { float: right; overflow: auto; height: 200px;}
.helplist1 li { height: 34px; width:200px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; }

.SelSty {border: 1px solid #cccccc;height: 100px;}
.Seke {height: 100px !important;border: none; background: none !important}
#HelpBtn {position: absolute; right:30px; top:28px; z-index:9999999999999999999; background:url(../images/common/question.png) 0px no-repeat; padding-left:25px; }
#HelpBtn a { }
#HelpBtn a:hover { text-decoration: underline; color: #086fcb; }
.underline { text-decoration: none}
.underline a { }
.underline a:hover{ text-decoration: underline !important}


.delivery_state{position:relative; border-bottom:1px solid #ddd; padding:20px 0 30px;}
.delivery_state .state_list{overflow:hidden;}
.delivery_state .state_list:after{content:''; position:absolute; top:35px; left:0; width:100%; height:2px; background:#7c818d;}
.delivery_state .state_list li{position:relative; float:left; width:20%; box-sizing:border-box;}
.delivery_state .state_list li .state_box{position:relative; text-align:center; padding-top:45px;}
.delivery_state .state_list li .state_box:before{content:''; position:absolute; left:50%; top:0; width:32px; height:32px; border:2px solid rgba(124, 129, 141, 1); background:#fff; margin-left:-16px; border-radius:50%; box-sizing:border-box; z-index:1;}
.delivery_state .state_list li .state_box:after{content:''; position:absolute; left:50%; top:11px; width:10px; height:10px; background: rgba(124, 129, 141, 1); margin-left:-5px; border-radius:50%; box-sizing:border-box; z-index:1;}
.delivery_state .state_list li .state_box .tit{display:block; letter-spacing:normal; line-height:150%; color:#404040; font-weight:normal; font-size:13px;}

.delivery_state .state_list li.active .state_box:before{border:2px solid rgba(233, 0, 48, 1); -webkit-animation: expn-bounce 1.2s infinite ease-in-out; animation: expn-bounce 1.2s infinite ease-in-out;}
.delivery_state .state_list li.active .state_box:after{background: rgba(233, 0, 48, 1);}
.delivery_state .state_list li.active .state_box .tit{color:#e90030;}
@keyframes expn-bounce
{
    0%, 100% {transform: scale(0.2); -webkit-transform: scale(0.2);}
    50% {transform: scale(1.0);-webkit-transform: scale(1.0);}
}

.tracking_detail{border:1px solid #ddd; padding:20px;}
.supplier_message{border:1px solid #ddd; padding:20px; background:#f5f5f5;}

.win_pop .ordered_message .order_info {
    position: relative;
    background: #f5f5f5;
    overflow: hidden;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.supplier_message {
    border: 1px solid #ddd;
    padding: 20px;
    background: #f5f5f5;
}


/* 2018-12-04 추가 */
/* 대시보드 - 시스템 관리자 */
.join_step1.col-6 ul > li{width:16.66666%;}
.join_step1.col-6 ul > li > div .nums{font-size:23px;}
.box_rightArea {background: #fafafa; border:1px solid #dfdfdf; padding:10px 15px;}
.box_rightArea .SubNotice a {display: block; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.tit_rightArea {border-bottom:1px solid #dfdfdf;}
.box_rightArea>span{ font-size: 14px; color: #333; height: 32px; line-height: 32px; font-weight: 600;}
.box_rightArea table {width:100%;}
.box_rightArea table caption  {font-size:12px; text-align:left; display:block }
.box_rightArea table th{text-align:center; padding:5px 0; border-bottom:1px solid #d6dae0; border-right:1px solid #c5c7c9; line-height:130%; font-size:13px; background:#ebedf1; color:#333; font-weight:600; letter-spacing:-1px;}
.box_rightArea table td{text-align:center; padding:8px 0; border-bottom:1px solid #d6dae0; border-right:1px solid #c5c7c9; line-height:100%; font-size:13px; color:#555; font-weight:normal; }
.box_rightArea table td a {display: block; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.box_rightArea table th:last-child,.box_rightArea table td:last-child {border-right: none;}

/* 대시보드 - 공급자 */
.bgnone {background:none;}
.join_step1.col-7 ul > li{width:13.5%; vertical-align: top;}
.join_step1.col-7 ul > li.wide{width:19%;}
.join_step1.col-7 ul > li > div {height: 67px;}
.join_step1.col-7 ul > li > div .state em{ font-size:13px; font-weight:normal; letter-spacing:-1px; font-style: normal; display: block; line-height: 100%;}
.box_rightArea .btn_gray {padding:4px;}
.box_rightArea .nums{ display: block; font-size: 25px; font-weight: normal; margin-bottom: 10px; color: #086fcb; letter-spacing: -0.5px; line-height: 350%; }
.box_rightArea.half {width:38.5%; float: right; display: inline-table;}
.box_rightArea.half:nth-child(2n) {float: left;}

.tab_area .box_tabs{overflow:hidden;background: url("../images/common/tab_bg.png") repeat-x 50% bottom;font-size:0;letter-spacing:0;word-spacing:0;width: 100%;}
.tab_area .box_tabs li{ margin-right:2px; float:left;}
.tab_area .box_tabs li:last-child{margin-right:0;}
.tab_area .box_tabs li a{display:block; height:36px; line-height:36px; padding:0 20px;  font-size:13px; -webkit-transition: all .35s ease; -moz-transition: all .35s ease; -ms-transition: all .35s ease; -o-transition: all .35s ease; transition: all .35s ease;}
.tab_area .box_tabs li.on a{color:#fff; background:#333; }
.tab_area .box_tabs li:hover.on a{}
.tab_area .box_tabs li:hover a{}

